{{#if feed.error}}
  <div class="ui error message">
    <strong>Failure:</strong> {{feed.error}}
  </div>
{{else}}
  {{#if feed.success.title}}
    <div class="ui success message">
      <strong>Success:</strong>
      <div>
        {{#link-to "feeds.show.articles" feed.success.id}}
          {{#if feed.success.feedIcon}}
            <span class="feed-icon">
                <img src="{{feed.success.feedIcon}}" alt="feed-icon"/>
            </span>
          {{else}}
            <span class="fa fa-feed"></span>
          {{/if}}

          {{feed.success.title}}
        {{/link-to}}
      </div>
    </div>
  {{/if}}
{{/if}}

<form {{action "submit" on="submit"}} class="ui form">
  <div class="required field">
    <label>Feed URL</label>
    {{input type="text" placeholder="https://feed-url.com/" value=feed.url class="form-control"}}
  </div>

  <div class="field">
    <label>Folder</label>

    {{#ui-dropdown
      class="search selection"
      allowAdditions=false
      selected=null
      onChange=(action (mut selected)) as |execute selected_folder|}}
      <div class="default text">Folder</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="">All Items</div>
        {{#each folders as |folder|}}
          <div class="item" data-value="{{map-value selected_folder folder}}">
            {{folder.name}}
          </div>
        {{/each}}
      </div>
      {{/ui-dropdown}}
  </div>

  <button type="submit" class="ui primary basic button">Submit</button>

</form>
