<div class="card-header folder-action" {{action "toggleFolderClosed"}}>
    <div class="left">
        <span class="fa {{folderIcon}}"></span> {{folder.name}}
    </div>
    <div class="right">
      {{#if folder.unreadCount}}
        <span class="label label-default label-info">{{folder.unreadCount}}</span>
      {{/if}}
      {{#if folderOpen}}
          <i class="fa fa-chevron-down"></i>
      {{else}}
          <i class="fa fa-chevron-up"></i>
      {{/if}}
    </div>
</div>

{{#if folderOpen}}
    <div class="card-block">
        <div class="list-group list-group-flush">
          {{#each folder.feeds as |feed|}}
            {{feed-item feed=feed display="list"}}
          {{/each}}
        </div>
    </div>
{{/if}}



