<button class="ui basic huge circular right floated icon button" {{action "closeArticle" article}}>
  <i class="ui icon close"></i>
</button>

<div class="ui basic compact segment">
  <h3 class="ui header">
    {{article.title}}
  </h3>
</div>

<div class="article-body">
  {{#if showOriginalArticle}}
    <div class="article-embed">
      <iframe seamless src={{article.url}} frameborder="0"></iframe>
    </div>
  {{else}}
    {{body}}
  {{/if}}
</div>

<div class="extra">
  <button class="ui button" {{action toggleProperty "showOriginalArticle"}}>{{originalLabel}}</button>
</div>
