{{#link-to onCloseRoute
           classNames="article-close-button ui basic huge circular right floated icon button"
}}
  <i class="ui icon close"></i>
{{/link-to}}

{{!-- <button class="ui basic huge circular right floated icon button" {{action "closeArticle" article}}>
  <i class="ui icon close"></i>
</button> --}}
<h3 class="ui header">
  {{article.title}}
</h3>

<div class="article-body">
    {{body}}
</div>
<div class="ui divider"></div>
<a class="ui small icon button" href={{article.url}} target="_blank" {{action "originalArticle" preventDefault=false}}
   data-content="Open article in new tab">
    <i class="external icon"></i>
    Open Original Article
</a>

<div class="ui divider"></div>