<div class="ui basic right aligned segment">
  <button class="ui basic circular huge icon button" {{action "closeArticle" article}}>
    <i class="ui icon close"></i>
  </button>
</div>

<h4 class="header">
  {{article.title}}
</h4>

<div class="article-body">
  {{#if showOriginalArticle}}
    <div class="article-embed">
      <iframe seamless src={{article.url}} frameborder="0"></iframe>
    </div>
  {{else}}
    {{body}}
  {{/if}}
</div>

<div class="extra">
  <button class="ui button" {{action toggleProperty "showOriginalArticle"}}>{{originalLabel}}</button>
</div>
