<div id="feed-header" class="ui top fixed five item menu">

  <div class="header item">
    <a href="{{model.feed.link}}" target="_blank">
      {{model.feed.title}}
    </a>
  </div>

  {{#if model.feed.unreadCount}}
    <a title="Mark as read" class="item" {{action "markAllArticlesAsRead" model.feed}}>
      <i class="ui icon radio"></i>
    </a>
  {{else}}
    <div class="item" title="No unread articles">
      <i class="ui icon check circle outline "></i>
    </div>
  {{/if}}

  {{#link-to "feeds.edit" model.feed title="Edit feed" classNames="item"}}
    <i class="edit icon"></i>
    <span class="menu-icon-label">Edit</span>
  {{/link-to}}

  {{#ui-dropdown class="dropdown item"}}
    <i class="ui icon ellipsis vertical"></i>
    <span class="menu-icon-label">More</span>
    <div class="ui labeled icon menu">
      <a class="item" {{action "deleteFeed" model.feed}} title="Remove feed">
        <i class="delete icon"></i>
        Delete
      </a>
    </div>
  {{/ui-dropdown}}


  {{#link-to "feeds" classNames="item"}}
    <i class="arrow left icon"></i>
  {{/link-to}}


</div>

<div id="article-list-container">

  {{article-list articles=model}}

  {{#infinity-loader infinityModel=model scrollable="#article-list" destroyOnInfinity=true}}
    {{partial "loading-articles"}}
  {{/infinity-loader}}

</div>