<div id="feed-header" class="ui three item menu">
    <a class="item" {{action "deleteFeed" model.feed}}>Delete</a>
    <a class="item" {{action "markAllArticlesAsRead" model.feed}}>Mark Read</a>
    <a class="item">Rename</a>
</div>

<div id="articles-container">

    <div id="article-list-container">
      {{article-list articles=model}}

      {{#infinity-loader infinityModel=model scrollable="#article-list-container" destroyOnInfinity=true}}
        {{partial "loading-articles"}}
      {{/infinity-loader}}

    </div>

    <div id="article-content-container">
      {{liquid-outlet "article-content"}}
    </div>
</div>


