<div id="feed-header" class="ui horizontal menu">

  <div class="header item">{{model.feed.title}}</div>

  {{#if model.feed.unreadCount}}
    <a title="Mark as read" class="item" {{action "markAllArticlesAsRead" model.feed}}>
      <i class="ui icon radio"></i>
    </a>
  {{else}}
    <div class="item" title="No unread articles">
      <i class="ui icon check circle outline "></i>
    </div>
  {{/if}}

  {{#ui-dropdown class="dropdown item"}}
    <i class="ui icon ellipsis vertical"></i>
    More
    <div class="ui labeled icon menu">
      {{#link-to "feeds.edit" model.feed title="Edit feed" classNames="item"}}
        <i class="edit icon"></i>
        Edit
      {{/link-to}}
      <a class="item" {{action "deleteFeed" model.feed}} title="Remove feed">
        <i class="delete icon"></i>
        Delete
      </a>
    </div>
  {{/ui-dropdown}}

</div>

<div id="articles-container">

  <div id="article-list-container">
    {{article-list articles=model}}

    {{#infinity-loader infinityModel=model scrollable="#article-list-container" destroyOnInfinity=true}}
      {{partial "loading-articles"}}
    {{/infinity-loader}}

  </div>

  <div id="article-content-container">
    {{liquid-outlet "article-content"}}
  </div>

</div>