<div class="ui segment">

  <button class="ui vertical positive basic animated button" {{action "goBack"}}>
    <div class="hidden content">Feeds</div>
    <div class="visible content">
      <i class="arrow up icon"></i>
    </div>
  </button>

  <div class="ui relaxed list">

    {{#settings-block class="connection-settings" title="Connection Settings"}}
      {{config-form config=model.conn submit="setupConnection"}}
    {{/settings-block}}

      {{#settings-block class="add-folder" title="Add Folder"}}
        {{add-folder folder=model.folder onCreateFolder="createFolder"}}
      {{/settings-block}}

    {{#settings-block class="add-feed" title="Add Feed"}}
      {{add-feed
        folders=model.folders
        feed=model.feed
        onSubmit="createFeed"
      }}
    {{/settings-block}}

    {{#settings-block class="content-settings" title="Article settings"}}
      {{article-settings settings=model.articleSettings submit="saveArticleSettings"}}
    {{/settings-block}}
  </div>
</div>

{{outlet}}
