{{#if config.error}}
    <div class="alert alert-danger">
        <strong>Failure:</strong> {{config.error}}
    </div>
{{/if}}

{{#if config.success}}
    <div class="alert alert-success">
        <strong>Success:</strong> {{config.success}}
    </div>
{{/if}}

<form {{action "submit" on="submit"}} class="form-horizontal">

    <div>
      {{paper-input label="Nextcloud News URL"
      value=config.domain
      required=true
      onChange=(action (mut config.domain))
      errorMessages=(hash required="URL is required")
      icon="link"
      }}
    </div>
    <div>
      {{paper-input label="Username"
      value=config.username
      required=true
      onChange=(action (mut config.username))
      errorMessages=(hash required="Username is required")
      icon="perm_identity"
      }}
    </div>
    <div>
      {{paper-input label="Password"
      type=password
      value=config.password
      required=true
      onChange=(action (mut config.password))
      errorMessages=(hash required="Password is required")
      icon="lock"
      }}
    </div>
    <div>
      {{#paper-checkbox value=config.persist onChange=(action (mut config.persist))}}
          Remember settings (will be stored in the localstorage of your browser)
      {{/paper-checkbox}}
    </div>

  {{#paper-button raised=true primary=true type="submit"}}Submit{{/paper-button}}

</form>
