<div class="card-header item-url item-title">
    <a href="{{item.url}}" target="_blank">{{item.title}}</a>
    <span class="pull-right">
        <button type="button" class="btn btn-secondary-outline btn-sm hint--top" data-hint="Star this article"><i class="fa fa-star-o"></i></button>
        <button type="button" class="btn btn-secondary-outline btn-sm hint--left" data-hint="Open article" {{action "toggleShowFull"}}>
          {{#if showFull}}
              <i class="fa fa-angle-up"></i>
          {{else}}
              <i class="fa fa-angle-down"></i>
          {{/if}}
        </button>
    </span>
</div>
<div class="card-block item-container">
    <div class="card-text item-text">
        <div class="item-meta">
          {{#if item.author}}
            {{item.author}} |
          {{/if}}
          {{moment-format item.pubDate 'LLLL' 'X'}} | {{feed.title}}
        </div>
        <div class="item-body">
          {{#if showFull}}
            {{body}}
          {{else}}
            {{excerpt}}
          {{/if}}
        </div>
    </div>
</div>