<div class="card-header item-url item-title">

    <div class="unread-title">
        <div class="unread">
          {{#if isUnread}}
              <span class="fa fa-circle"></span>
          {{/if}}
        </div>
        <div class="title">
          {{item.title}}
        </div>
    </div>
</div>

<div class="item-button-group pull-right">
    <a href={{item.url}} target="_blank" {{action "originalArticle" preventDefault=false}}
       class="btn btn-secondary-outline hint--top"
       data-hint="Open article in new tab">
        <span class="fa fa-globe"></span>
    </a>
    <a href="mailto:mail@address.com?subject=Article: {{item.title}}&body={{item.title}}%0A%0A{{excerpt}}%0A%0A{{item.url}}"
       class="btn btn-secondary-outline">
        <i class="fa fa-share-square-o"></i>
    </a>
    <button type="button" class="btn btn-secondary-outline hint--top" {{action "toggleUnread"}}
            data-hint={{readUnreadHint}}>
      {{#if isUnread}}
          <i class="fa fa-eye-slash"></i>
      {{else}}
          <i class="fa fa-eye"></i>
      {{/if}}
    </button>
    <button type="button" class="btn btn-secondary-outline hint--top" {{action "toggleStarred"}}
            data-hint={{starHint}}>
      {{#if isStarred}}
          <i class="fa fa-bookmark"></i>
      {{else}}
          <i class="fa fa-bookmark-o"></i>
      {{/if}}
    </button>
    <button type="button" class="btn btn-secondary-outline hint--left"
            data-hint={{openCloseHint}} {{action "toggleShowFull"}}>
      {{#if showFull}}
          <i class="fa fa-chevron-down"></i>
      {{else}}
          <i class="fa fa-chevron-up"></i>
      {{/if}}
    </button>
</div>

<div class="card-block item-container">
    <div class="card-text item-text">
        <div class="item-body">
          {{#if showFull}}
              <div class="item-meta">
                {{#if item.author}}
                  {{item.author}} |
                {{/if}}
                {{moment-format item.pubDate 'LLLL' 'X'}} | {{item.feed.title}}
              </div>
            {{body}}
          {{else}}
            {{excerpt}}
              <div class="item-meta">{{item.feed.title}}</div>
          {{/if}}
        </div>
    </div>
</div>