<div class="card-header item-url item-title">
    <a href="{{item.url}}" target="_blank" class={{read}}>{{item.title}}</a>
    <span class="pull-right">
        <button type="button" class="btn btn-primary-outline btn-sm" {{action "toggleShowFull"}}>Full</button>
    </span>
</div>
<div class="card-block item-container">
    <div class="card-text item-text">
        <div class="item-meta">
          {{item.author}}, {{item.pubDate}}
        </div>
        <div class="item-body">
          {{#if showFull}}
            {{body}}
          {{else}}
            {{excerpt}}
          {{/if}}
        </div>
    </div>
</div>