<div class="ui tiny image">
  <img src={{articleImage}}>
</div>
<div class="content">
  {{#link-to articleShowRoute article}}
    <h4 class="ui article-title {{readOrUnread}} header">{{title}}</h4>
    {{moment-format article.pubDate 'LLLL' 'X'}}
    <div class="meta">
      <i>{{#if article.author}}
        {{article.author}} |
      {{/if}}
        {{article.feed.title}}</i>
    </div>
    <div class="description">
      {{excerpt}}
    </div>
  {{/link-to}}
  <div class="extra">
    {{article-buttons article=article onOpenArticle=onOpenArticle}}
  </div>
</div>

