{{!--
<div class="label">
    <div class="unread">
      {{#if isUnread}}
          <i class="circle icon"></i>
      {{/if}}
    </div>
    <div class="title">
      {{article.title}}
    </div>
</div>

--}}

<div class="content">
    <div class="header">
      {{article.title}}
    </div>
    <div class="meta">
        <div>
          {{#if article.author}}
            {{article.author}} |
          {{/if}}
          {{moment-format article.pubDate 'LLLL' 'X'}} | {{article.feed.title}}
        <div class="ui right floated main menu">{{article-buttons article=article}}</div>
        </div>
    </div>
    <div class="description">
      {{#if showFull}}
        {{body}}
      {{else}}
        {{excerpt}}
        {{article.feed.title}}
      {{/if}}
    </div>
</div>