<a href={{article.url}} target="_blank" {{action "originalArticle" preventDefault=false}}
   class="popup icon item"
   data-content="Open article in new tab">
    <i class="external icon"></i>
</a>
<a href="mailto:?subject=Article: {{article.title}}&body={{article.title}}%0A%0A{{excerpt}}%0A%0A{{article.url}}"
   class="popup icon item">
    <i class="mail forward icon"></i>
</a>

<a class="popup icon item" data-content="{{readUnreadHint}}" {{action "toggleUnread"}}>
  {{#if isUnread}}
      <i class="radio icon"></i>
  {{else}}
      <i class="check circle outline icon"></i>
  {{/if}}
</a>

<a class="popup icon item" {{action "toggleStarred"}} data-content={{starHint}}>
  {{#if isStarred}}
      <i class="bookmark icon"></i>
  {{else}}
      <i class="bookmark remove icon"></i>
  {{/if}}
</a>
<div class="popup icon item" {{action 'openModal' 'article' article}}>
  {{#if articleIsOpen}}
      <i class="compress icon"></i>
  {{else}}
      <i class="expand icon"></i>
  {{/if}}
</div>