<a href={{article.url}} target="_blank" {{action "originalArticle" preventDefault=false}}
   class=""
   data-content="Open article in new tab">
    <i class="external icon"></i>
</a>

<a href="mailto:?subject=Article: {{article.title}}&body={{article.title}}%0A%0A{{excerpt}}%0A%0A{{article.url}}"
   class="">
    <i class="mail forward icon"></i>
</a>

<a class="" data-content="{{readUnreadHint}}" {{action "toggleUnread"}}>
  {{#if isUnread}}
      <i class="radio icon"></i>
  {{else}}
      <i class="check circle outline icon"></i>
  {{/if}}
</a>

<a class="" {{action "toggleStarred"}} data-content={{starHint}}>
  {{#if isStarred}}
      <i class="bookmark icon"></i>
  {{else}}
      <i class="bookmark remove icon"></i>
  {{/if}}
</a>

{{#link-to "index.feeds.show.items.show" article classNames=""}}
  <i class="expand icon"></i>
{{/link-to}}