{{#if isEditing}}
    <form {{action "submit" on="submit"}}>

      {{input type="text" id="rename-property" value=(mut (get model property))}}

      {{#if hasChanged}}
          <span class="action fa fa-check-circle fa-2x" {{action "rename"}}></span>
      {{/if}}

        <span class="action fa fa-times-circle fa-2x" {{action "cancel"}}></span>
    </form>
{{else}}
    <span class="action hint--top"
          data-hint={{hint}} {{action toggleProperty "isEditing"}}>{{get model property}}</span>
{{/if}}
